[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
asgiref = "==3.2.3"
django = "==3.0.4"
pillow = "==9.0.1"
pytz = "==2019.3"
sqlparse = "==0.3.1"
django-crispy-forms = "*"

[requires]
python_version = "3.8"
