{% extends "blog/base.html" %}
{% block content %}
    <!-- We created a for loop to go through post which we got data from posts dictionary dummy post we created -->
    {% for post in posts %}
        <!-- Here we will access a post variable to access a post dictionary and to get a title variable -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
